/* Main content styles */
p {
	width: 715px;
	padding: 10px 2px;
	margin: 0;
}
/* Header Styles */
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	font-size: 26px;
	color: #2b7c98;
	padding: 0 0 0 25px;
	letter-spacing: -1px;
	height: 58px;
	line-height: 58px;
	background-color: #e5e5e5;
	width: 740px;
	margin-bottom: 2px;
	margin-left: -23px;
}
h2 {
	font-size: 21px;
	color: #2b7c98;
	padding: 15px 10px 15px 0;
	letter-spacing: -0.5px;
}
h3 {
	font-size: 16px;
	color: #2b7c98;
	padding: 10px 10px 10px 0;
	letter-spacing: -0.5px;
}
/* msgbox styles  */
.msgSuccess, .msgError, .msgInfo {
	width: 80%;
	line-height: 25px;
	z-index: 16;
	margin: 10px 0px;
	padding: 10px 10px 10px 60px;
	background-repeat: no-repeat;
	background-position: 20px center;
}
.msgSuccess {
	background-color: #c8ffa4;
	border: 1px solid #348300;
	background-image: url('../images/icons/positive.png');
}
.msgError {
	background-color: #ffa4aa;
	border: 1px solid #800000;
	background-image: url('../images/icons/negative.png');
}
.msgInfo {
	/* Positive message DIV */
    background-color: #FFFF66;
	border: 1px solid #c18800;
	background-image: url('../images/icons/attention.png');
}
/* Form styles */
.formfield {
	/* small field title*/
    line-height: 20px;
	margin: 15px 0 0 0px;
	padding: 5px 10px;
	color: #FFF;
	background-image: url(../images/table_bg.jpg);
	display: inline-block;
}
.fields {
	color: #777777;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px;
	background-color: #FFFFFF;
	border: 1px solid #dedbd1;
	margin: 0px 0px 5px 0px;
}
/* fields style  */
.instructions {
	color: #999999;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-style: italic;
	margin: 5px 0 0 0px;
	width: 70%;
}
.button {
	margin: 15px 0 0 0px;
	background-color: #999999;
	border: 1px solid #888888;
	color: #FFFFFF;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	padding: 5px 30px;
	font-weight: bold;
}
/* Table styles */
table.t_results {
  width: 90%;
  border-collapse: collapse;
  margin: 20px 0px;
}
table.t_results caption strong{
  float: right;
  color: #FF0033;
  font-size: 14px;
}
table.t_results th {
	background-image: url("../images/table_bg.jpg");
	color: #FFFFFF;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 5px;
	text-align: left;
}
table.t_results td {
	line-height: 20px;
	padding: 10px 5px;
	text-align: left;
}
tr.odd td {
	background-color: #F9F9F9;
}
tr.even td {
	background-color: #E5E5E5;
}
/* CRUD specific styles */
.back a, .add a, .edit a, .delete a , .map_ico a{
	line-height: 25px;
	padding: 10px 10px 10px 25px;
	background-repeat: no-repeat;
	background-position: 0px center;
	font-size: 14px;
	margin-left: 25px;
}
.back a {
	background-image: url('../images/icons/left.png');
}
.add a {
	background-image: url('../images/icons/add.png');
}
.edit a {
	background-image: url('../images/icons/edit.png');
}
.delete a {
  background-image: url('../images/icons/remove.png');
}
.map_ico a {
  background-image: url('../images/icons/map_ico.png');
}
#map {
	margin: 25px auto;
}
/* Form styles */
fieldset, .fieldset {
	border: 1px solid #ccc;
	background: #FFF url('../images/tabs/h600.png') repeat-x;
	padding: 10px 20px;
	margin: 5px 0;
	width: 690px;
}
fieldset legend {
	line-height: 25px;
	min-width: 150px;
	font-size: 16px;
	font-weight: bold;
	margin: 15px 0 0 -10px;
	padding: 5px 10px;
	color: #000;
	background-image: url(../images/arrows.jpg);
	background-position: 0px center;
	background-repeat: no-repeat;
	background-color: #FFF;
	border: 1px solid silver;
}
.msgForm {
	margin: 5px 0px;
	padding: 0px 30px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
a > img {
	border: none;
}
.formrow{
	float: left;
	width: 100%;
}
.formrowhalf{
	float: left;
	width: 50%;
}
.formrowfloatleft{
	float: left;
	clear: left;
}
.fieldset .label{
	display:inline-block;
	font-style:oblique;
	padding-left:10px;
	width:25%;
	vertical-align: top;
}
.fieldset .value{
	color:green;
	display:inline-block;
	font-weight:bold;
	width:70%;
}